// graphic styles

a {
  color: $link-color;
  text-decoration: underline;
  @include transition( color .3s );
  cursor: pointer;
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}